{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageProfile</th>
                <th>mail</th>
                <th>Name</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>

                <td>
                {% for image in student.imageprofile %}

                    <img src=" {{ path('student_profile_image', {'profileName':image} )}}" alt="" style='width:50px; height:50px'>

                {% endfor %}
                </td>
                <td>{{ student.email }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.prenom }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    {# {{#[isGranted(StudentVoter::EDIT, subject:'student')]}} #}
                    {# {% if is_granted('STUDENT_EDIT', student) %} #}
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                    {# {% endif %} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
